// Color palette
$dark-primary: #5c164e;
$dark-secondary: #9b287b;
$dark-third: #402039;
$light-primary: #e2fcef;
$default-black: #170f11;

// Sizing
// $font-primary
// $font-secondary
// $font-size-default
